RewriteEngine On

############## RewriteRules for the schema and instance data
#These rules could be used if our schema used / instead of #
#RewriteRule ^schema/(.+)\.(.+)$ view.php?src=schema.owl&q=$1&output=$2
#RewriteRule ^schema/(.+)$ view.php?src=schema.owl&q=$1 [L]
RewriteRule ^schema.rdf schema.owl [L]
RewriteRule ^schema/$ schema.var [L]
RewriteRule ^schema$ schema.var [L]

# Instance rewrites if there's an extension. Accept headers are handled
# below
RewriteRule ^instances/(.+)\.(.+)$ view.php?q=$1&output=$2 [L]
# If requesting all the instances
RewriteRule ^instances/$ view.php [L]

# If requesting one of the rdf types for instance data then just pass it
# on to the sparql endpoint
RewriteCond %{HTTP_ACCEPT} application/json|application/rdf\+xml|text/plain|text/turtle|application/x-turtle|text/n3|text/rdf\+n3
RewriteRule ^instances\/(.+) http://toolmatch.esipfed.org/virtuoso/sparql?query=DESCRIBE+\%3Chttp://toolmatch.esipfed.org/instances/$1\%3E [NE,R=303]

# And if we don't understand the the accept header then pass it on to
# view.php so we can determine it's splash page
RewriteRule ^instances/(.+) view.php?q=$1 [L]

#login for tool delete
<FilesMatch "delete_tool.php">
AuthName "Password Protected Area"
AuthType Basic
AuthUserFile /var/www/.htpasswd
require valid-user
</FilesMatch>

#login for toolform
<FilesMatch "toolform.*">
AuthName "Password Protected Area"
AuthType Basic
AuthUserFile /var/www/.htpasswd
require valid-user
</FilesMatch>

#login for dataform
<FilesMatch "dataform.*">
AuthName "Password Protected Area"
AuthType Basic
AuthUserFile /var/www/.htpasswd
require valid-user
</FilesMatch>

############## RewriteRules to allow us to remove the .php extension from URLs
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

